<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form th:action="@{/people}" method="get">
    <input type="text" name="firstName" placeholder="First Name"/>
    <input type="text" name="lastName" placeholder="Last Name"/>
    <button type="submit">Search</button>
</form>
<div th:each="person: ${peopleList}">
    <a th:href="@{'/people/' + ${person.id}}">
        <div th:text="${person.firstName} + ' ' + ${person.lastName}"></div>
    </a>
</div>
</body>
</html>